<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/assets/icon/fontawesome-free-6.1.1-web/fontawesome-free-6.1.1-web/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/css/layouts/login.css" rel="stylesheet" />
</head>
<body>
   
    <div id="div-main">
        @RenderBody()
    </div>
        
    
   
</body>
</html>

