body {
    margin: 0;
}

#div-top_v1{
    height: 3.1rem;
    background-color: aquamarine
}
#header{
    height: 3.1rem !important;
}
#div-main {
    display: flex;
    flex-direction: row;
}
#div-left {
    width: 25%;
    height: auto;    
    font-family: Arial;
    font-size: 20px;
    padding-left: 0px !important;
}
#div-left  ul  li {
        list-style-type: none;
       /* padding: 0;*/
        border: 1px solid #ddd;
    }

    #div-left ul  li {
        padding: 8px 16px;
        border-bottom: 1px solid #ddd;
    }

        #div-left > ul > li:last-child {
            border-bottom: none
        }
#div-left h3 {
    text-align: center;
}

#div-right {
    width: 75%;
    
    background-color: antiquewhite;
}
#div-footer {
    height: 50px;
    background-color: burlywood;
    bottom: 0px;
    text-align: center;
    left: 50%;
    padding-top: 25px;
}
