@model  WebBanSachOnline.Models.KhachHangMVC
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutLog.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2 style="text-align:center;">Đăng nhập</h2>
<div class="container mt-5">
    <div class="row" style="display:flex; flex-direction:column;">
        <div>
            <h3>Tên</h3>
            <input type="text" placeholder="Nhập Tên" style="width:150px;"  />
        </div>
        <div>
            <h3>Mật Khẩu</h3>
            <input type="password" placeholder="Nhập Password" style="width:150px;" />
        </div>
        <div>
            <input type="checkbox" /> <label>Ghi Nhớ</label>

        </div>
        <div>
            <button style="background-color:dodgerblue; color:white; width:150px; height:40px; border-radius:5px; font-size:20px;">Đăng nhập</button>
        </div>
    </div>
</div>


